<!DOCTYPE html>
<html>
<head>
  <title>CollaborativeEditor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>

<body>

  <div id="editor"></div>

</body>
</html>
